@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";
.Theme {
  --font-heading: "Poppins", sans-serif;
  --font-body: "Lato", sans-serif;
  --font-monospace: "IBM Plex Sans", monospace;
  --font-style-italic: italic;
  
}

html, body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(50deg,  #F5E0C3, #FFF3E0);
  color: #333;
  line-height: 1.6;
  min-height: 100%;
}
@layer utilities {
  .clip-cloud {
    clip-path: path('M50 15 Q65 5 80 15 Q95 25 80 35 Q65 45 50 35 Q35 45 20 35 Q5 25 20 15 Z');
  }
}
